@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
  background-image: url(src/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: antiquewhite;
}

#name {
  font-family: "San Francisco";
  font-size: 10.5vw;
  text-align: left;
  margin-top: 1vw;
  position: absolute;
  left: 2.5vw;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#links {
  color: antiquewhite;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#github-a {
  position: fixed;
  right: 8.2vw;
  top: 11vw;
}

#linkedin-a {
  position: fixed;
  right: 8vw;
  top: 16vw;
}

#twitter-a {
  position: fixed;
  right: 8vw;
  top: 21vw;
}

#spotify-a {
  position: fixed;
  right: 8vw;
  top: 26vw;
}

#steam-a {
  position: fixed;
  right: 8vw;
  top: 31vw;
}

footer {
  font-family: "San Francisco";
  position: absolute;
  left: 1rem;
  bottom: 0rem;
}

#mail {
  color: antiquewhite;
}

#year {
  color: antiquewhite;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
